
<h1 class="position-absolute top-0 start-50 translate-middle mt-5 pt-5"> Attendance Form</h1>

<div class="conatiner position-absolute top-50 start-50 translate-middle">
    <form [formGroup]="userRegistrationForm" (ngSubmit)="onSubmit()" class="row g-3 "  >
        <div class="row g-3 pb-5">
            <div class="col">
                <input type="text" formControlName="FirstName" class="form-control" placeholder="First Name" aria-label="First name" required>

            </div>

            <div class="col">
                <input type="text" formControlName="LastName" class="form-control" placeholder="Last name" required>
            </div>

        </div>

        <div class="col-12 pb-4">
            <input type="text" formControlName="ParticipantComment" class="form-control" placeholder="leave a comment about the class" aria-label="leave a comment about the class" required>
        </div>

        <div class="d-grid gap-2 col-6 mx-auto">
            <button  type="submit" class="btn btn-outline-primary btn-lg" >save</button>
        </div>

    </form>
</div>
