<table>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col"> Comment </th>
    </tr>
  </thead>
 <!-- TODO : Test newly created call  -->
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Tony</td>
      <td>Montanna</td>
      <td>the program was an interesting one</td>
    </tr>
  </tbody>

<!-- TODO: add a button for updating this list and deleting this item-->
<!-- TODO: implement graph of participants overtime -->

  <tbody *ngFor="let participant of registarService.registrationResults">
    <tr>
      <th scope="row">{{participant.id}}</th>
      <td>{{participant.firstName}}</td>
      <td>{{participant.lastName}}</td>
      <td>{{participant.participantComment}}</td>
    </tr>
  </tbody>
</table>

